@import 'placeholders';
@import 'fonts';

.rsvp-container {
  @extend %flex-column;
  margin-left: 20px;

  h1 {
    align-self: center;
    margin-bottom: 20px;
  }
}

.rsvp_list {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  max-width: 900px;
  justify-content: space-around;
}

.rsvp_item {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 20px;
  font-family: $text-font;
  border: 1px solid #333333;
  box-shadow: 4px 8px #333333;
  border-radius: 20px;

  h5 {
    align-self: center;
  }
}

@media screen and (max-width: 480px) {
  .rsvp_item {
      min-width: calc(100%/4 - 40px);
  }
}

@media screen and (min-width: 480px) {
  .rsvp_item {
    width: calc(100%/4 - 40px);
  }
}
