@import 'placeholders';
@import 'fonts';

.topicsContainer {
  @extend %flex-column;
  align-items: center;
  max-width: 300px;

  li {
    font-family: $text-font;
    margin-bottom: 10px;
    font-size: 20px;
  }
}
