@import 'placeholders';
@import 'fonts';

.topicsContainer {
  @extend %flex-column;
  align-items: center;
  max-width: 400px;
  padding-left: 10px;
  padding-right: 20px;
  background-color: #333333;

  li {
    font-family: $text-font;
    margin-bottom: 10px;
    font-size: 20px;
  }
}
