.topicsContainer, .rsvpContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }

.topicsContainer {
  align-items: center;
  max-width: 400px;
  padding-left: 10px;
  padding-right: 20px;
  background-color: #333333; }
  .topicsContainer li {
    font-family: "Source Sans Pro", sans-serif;
    margin-bottom: 10px;
    font-size: 20px; }

.topicsContainer, .rsvpContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }

.rsvpContainer {
  margin-left: 20px; }
  .rsvpContainer h1 {
    align-self: center;
    margin-bottom: 20px; }

.rsvpList {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  max-width: 900px;
  justify-content: space-around; }

.rsvpItem {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 20px;
  font-family: "Source Sans Pro", sans-serif;
  border: 1px solid #333333;
  box-shadow: 4px 8px #333333;
  border-radius: 20px; }
  .rsvpItem h5 {
    align-self: center; }

@media screen and (max-width: 480px) {
  .rsvpItem {
    min-width: calc(100%/4 - 40px); } }

@media screen and (min-width: 480px) {
  .rsvpItem {
    width: calc(100%/4 - 40px); } }

.app {
  display: flex;
  background-color: black;
  color: #ffffff; }
  .app h1 {
    font-family: "Sedgwick Ave Display", cursive;
    font-size: 60px;
    text-align: center;
    color: #ffffff; }

img {
  align-self: center;
  width: 80px;
  height: 80px; }

a {
  color: #ffffff;
  text-decoration: none; }
