@import 'topics';
@import 'fonts';
@import 'rsvps';

.app {
  display: flex;
  justify-content: space-around;

  h1 {
    font-family: $title-font;
    font-size: $title-size;
    text-align: center;
  }
}
