@import 'topics';
@import 'fonts';
@import 'rsvps';
@import 'loader';

.app {
  display: flex;
  background-color: black;
  color: #ffffff;

  h1 {
    font-family: $title-font;
    font-size: $title-size;
    text-align: center;
    color: #ffffff;
  }
}

img {
  align-self: center;
  width: 80px;
  height: 80px;
}

a {
  color: #ffffff;
  text-decoration: none;
}
