.topicsContainer, .rsvpContainer {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  flex-wrap: wrap; }

.topicsContainer {
  align-items: center;
  max-width: 300px; }
  .topicsContainer li {
    font-family: "Source Sans Pro", sans-serif;
    margin-bottom: 10px;
    font-size: 20px; }

.topicsContainer, .rsvpContainer {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  flex-wrap: wrap; }

.rsvpContainer {
  background-color: rgba(169, 184, 209, 0.5); }
  .rsvpContainer h1 {
    align-self: center;
    margin-bottom: 20px; }

.rsvpList {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  max-width: 900px;
  justify-content: space-around; }

.rsvpItem {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 20px;
  font-family: "Source Sans Pro", sans-serif;
  border: 1px solid black; }
  .rsvpItem h5 {
    align-self: center; }

@media screen and (max-width: 480px) {
  .rsvpItem {
    min-width: calc(100%/4 - 40px); } }

@media screen and (min-width: 480px) {
  .rsvpItem {
    width: calc(100%/4 - 40px); } }

.app {
  display: flex;
  justify-content: space-between; }
  .app h1 {
    font-family: "Sedgwick Ave Display", cursive;
    font-size: 60px;
    text-align: center; }

img {
  align-self: center;
  width: 80px;
  height: 80px; }

a {
  color: #0a1d3d; }
